/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@keyframes highlight_nav {
  10% {
    transform: scale(1.3); }
  100% {
    background-color: black;
    color: white; } }

@keyframes highlight_link {
  100% {
    transform: scale(1.2); } }

.main_container {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Quattrocento", serif; }
  .main_container .center_container {
    max-width: 1200px; }
    .main_container .center_container .header {
      overflow: hidden;
      position: fixed;
      top: 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 71px;
      background-color: white;
      width: 1200px; }
      .main_container .center_container .header .header_name {
        font-size: 2rem;
        margin-left: 2.4%;
        visibility: hidden; }
      .main_container .center_container .header .header_nav {
        width: 25%;
        margin-left: 12%;
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem; }
        .main_container .center_container .header .header_nav .header_nav_button {
          height: 26px;
          display: flex;
          align-items: center;
          margin-top: 4px; }
        .main_container .center_container .header .header_nav .header_nav_button:hover {
          cursor: pointer;
          animation-name: highlight_nav;
          animation-duration: 400ms;
          animation-fill-mode: forwards; }
      .main_container .center_container .header .header_links {
        margin-right: 2.4%;
        width: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .main_container .center_container .header .header_links .github:hover {
          cursor: pointer;
          animation-name: highlight_link;
          animation-duration: 250ms;
          animation-fill-mode: forwards; }
        .main_container .center_container .header .header_links .linkedin:hover {
          cursor: pointer;
          animation-name: highlight_link;
          animation-duration: 250ms;
          animation-fill-mode: forwards; }
    .main_container .center_container .title .abstract {
      margin-top: 71px; }
    .main_container .center_container .title .name {
      margin-top: 70px;
      margin-left: 67.8%;
      margin-bottom: 25px; }
    .main_container .center_container .apps {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-bottom: 2px; }
      .main_container .center_container .apps .apps_top {
        width: 38%;
        margin-top: 130px;
        margin-bottom: 8px;
        display: flex;
        margin-right: 9.7%;
        justify-content: space-between; }
        .main_container .center_container .apps .apps_top .apps_title {
          font-family: "Sedgwick Ave", cursive;
          font-size: 1.2rem;
          letter-spacing: 1px; }
        .main_container .center_container .apps .apps_top .apps_playstore {
          font-family: "Source Sans Pro", sans-serif;
          font-size: 1.37rem; }
      .main_container .center_container .apps .apps_main {
        width: 60.5%;
        margin-top: 60px;
        margin-bottom: 153px;
        height: 270px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: "Source Sans Pro", sans-serif; }
        .main_container .center_container .apps .apps_main .apps_main_one {
          display: flex;
          width: 100%; }
          .main_container .center_container .apps .apps_main .apps_main_one .vivahands_title_site {
            max-width: 100%;
            display: flex;
            flex-direction: column;
            margin-left: 6.2%;
            letter-spacing: .6px;
            font-size: 1.24rem;
            margin-top: 2px; }
            .main_container .center_container .apps .apps_main .apps_main_one .vivahands_title_site .vivahands_title {
              font-weight: bold;
              margin-right: 3%; }
            .main_container .center_container .apps .apps_main .apps_main_one .vivahands_title_site .vivahands_site {
              margin-top: 10px;
              margin-left: 11.5%;
              letter-spacing: 0.8px;
              width: 100%; }
          .main_container .center_container .apps .apps_main .apps_main_one .vivahands_info {
            width: 50%;
            margin-left: 9.4%;
            height: 125px;
            font-size: 1.3rem;
            text-align: left;
            line-height: 29px; }
        .main_container .center_container .apps .apps_main .apps_main_two {
          display: flex;
          width: 100%; }
          .main_container .center_container .apps .apps_main .apps_main_two .logsnow_img {
            margin-top: 87px; }
          .main_container .center_container .apps .apps_main .apps_main_two .logsnow_title_site {
            max-width: 100%;
            display: flex;
            flex-direction: column;
            margin-left: 6.2%;
            letter-spacing: .6px;
            font-size: 1.24rem;
            margin-top: 2px; }
            .main_container .center_container .apps .apps_main .apps_main_two .logsnow_title_site .logsnow_title {
              font-weight: bold;
              margin-right: 3%;
              margin-top: 88px; }
            .main_container .center_container .apps .apps_main .apps_main_two .logsnow_title_site .logsnow_site {
              margin-top: 10px;
              margin-left: 11.5%;
              letter-spacing: 0.8px;
              width: 100%; }
          .main_container .center_container .apps .apps_main .apps_main_two .logsnow_info {
            width: 50%;
            margin-left: 12%;
            height: 125px;
            font-size: 1.3rem;
            text-align: left;
            line-height: 29px;
            margin-top: 85px; }
    .main_container .center_container .skills {
      display: flex;
      justify-content: flex-end;
      font-family: "Source Sans Pro", sans-serif; }
      .main_container .center_container .skills .skills_right {
        width: 66%; }
        .main_container .center_container .skills .skills_right .skills_header_1 {
          margin-top: 25px;
          display: flex;
          justify-content: space-between; }
          .main_container .center_container .skills .skills_right .skills_header_1 .skills_title {
            font-family: "Sedgwick Ave", cursive;
            font-size: 1.2rem;
            margin-top: 2px;
            letter-spacing: 1px; }
          .main_container .center_container .skills .skills_right .skills_header_1 .skills_language {
            margin-right: 32%;
            margin-bottom: 34px;
            font-size: 1.2rem;
            margin-top: -5px;
            margin-left: 8%; }
        .main_container .center_container .skills .skills_right .skills_line {
          display: flex; }
        .main_container .center_container .skills .skills_right .skills_language_items {
          display: flex;
          text-align: left;
          margin-top: 40px;
          font-size: 1.3rem;
          line-height: 30px; }
        .main_container .center_container .skills .skills_right .skills_header_2 {
          margin-top: 22px;
          display: flex;
          justify-content: center;
          margin-right: 12%;
          font-size: 1.2rem;
          margin-bottom: 36px; }
        .main_container .center_container .skills .skills_right .skills_approach_items {
          display: flex;
          text-align: left;
          margin-top: 40px;
          font-size: 1.2rem;
          line-height: 30px; }
        .main_container .center_container .skills .skills_right .skills_header_3 {
          margin-top: 41px;
          margin-right: 12%;
          font-size: 1.2rem;
          margin-bottom: 30px; }
        .main_container .center_container .skills .skills_right .skills_version_items {
          display: flex;
          text-align: left;
          margin-top: 40px;
          font-size: 1.2rem;
          line-height: 30px;
          margin-bottom: 98px; }
    .main_container .center_container .thankyou {
      display: flex;
      margin-top: 60px;
      margin-left: 7%; }
    .main_container .center_container .fineprint {
      margin-top: 200px;
      opacity: .5; }
    .main_container .center_container .contact_form {
      display: flex;
      justify-content: center;
      height: 625px; }
      .main_container .center_container .contact_form .contact_form_center {
        width: 87%; }
        .main_container .center_container .contact_form .contact_form_center .contact_form_header {
          display: flex;
          justify-content: space-between;
          margin-top: 35px;
          margin-bottom: 11px; }
          .main_container .center_container .contact_form .contact_form_center .contact_form_header .contact_form_header_title {
            font-family: "Sedgwick Ave", cursive;
            font-size: 1.3rem; }
          .main_container .center_container .contact_form .contact_form_center .contact_form_header .contact_form_header_via {
            font-family: "Source Sans Pro", sans-serif;
            font-size: 1.2rem; }
          .main_container .center_container .contact_form .contact_form_center .contact_form_header .contact_form_header_email {
            font-family: "Source Sans Pro", sans-serif;
            font-size: 1.2rem;
            font-style: italic; }
        .main_container .center_container .contact_form .contact_form_center .form {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          height: 532px;
          justify-content: space-between;
          font-family: "Source Sans Pro", sans-serif;
          /* need to work on fixing up the parent-child structure in the form */ }
          .main_container .center_container .contact_form .contact_form_center .form label {
            min-width: 100%; }
          .main_container .center_container .contact_form .contact_form_center .form .form_name {
            margin-top: 32px;
            display: flex;
            font-size: 1.2rem; }
          .main_container .center_container .contact_form .contact_form_center .form .input_name {
            margin-top: 10px;
            width: 100%;
            padding: 12px 0px;
            margin: 8px 0;
            box-sizing: border-box;
            border: none;
            background-color: #F7F7F7;
            color: teal; }
          .main_container .center_container .contact_form .contact_form_center .form .form_email {
            margin-top: 32px;
            display: flex;
            font-size: 1.2rem; }
          .main_container .center_container .contact_form .contact_form_center .form .input_email {
            margin-top: 10px;
            width: 100%;
            padding: 12px 0px;
            margin: 8px 0;
            box-sizing: border-box;
            border: none;
            background-color: #E0E0E0;
            color: teal; }
          .main_container .center_container .contact_form .contact_form_center .form .form_message {
            margin-top: 32px;
            display: flex;
            font-size: 1.2rem; }
          .main_container .center_container .contact_form .contact_form_center .form .input_message {
            margin-top: 10px;
            width: 100%;
            height: 150px;
            padding: 12px 0px;
            box-sizing: border-box;
            resize: none;
            background-color: #BDBDBD;
            color: teal;
            font-family: "Source Sans Pro", sans-serif; }
          .main_container .center_container .contact_form .contact_form_center .form .submitbutton {
            border: none; }
