//SASS RESET ----------------------------------------------------------------------------------------------------

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote {
  &:before,
  &:after {
    content: "";
    content: none;
  }
}

q {
  &:before,
  &:after {
    content: "";
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

//Variables and Mixins----------------------------------------------------------------------------------------------------

$normal: 1200px;
$small: 1024px;
$smaller: 900px;
$tab: 600px;
$smalltab: 400px;

@mixin small {
  @media (min-width: #{$small}) and (max-width: #{$normal - 1px}) {
    @content;
  }
}

@mixin smaller {
  @media (min-width: #{$smaller}) and (max-width: #{$small - 1px}) {
    @content;
  }
}

@mixin tab {
  @media (min-width: #{$tab}) and (max-width: #{$smaller - 1px}) {
    @content;
  }
}

@mixin smalltab {
  @media (min-width: #{$smalltab}) and (max-width: #{$tab - 1px}) {
    @content;
  }
}

@mixin phone {
  @media (max-width: #{$smalltab - 1px}) {
    @content;
  }
}

//Animations---------------------------------------------------------------------------------------------------
//button hover
@keyframes highlight_nav {
  10% {
    transform: scale(1.4);
  }
  100% {
    background-color: #3b363d;
    color: white;
    opacity: 0.93;
  }
}

@keyframes highlight_link {
  100% {
    transform: scale(1.2);
  }
}

//Fonts
$quattro: "Quattrocento", serif;
$source: "Source Sans Pro", sans-serif;
$sed: "Sedgwick Ave", cursive;

//Style--------------------------------------------------------------------------------------------------------

//need to figure out how to center and still be responsive
//what i did was : made main container 1200 instead of 100% and then made center container 100% instead of 1200px;

//maybe need to make another container so i can create a minimum margin for the main container
.main_container {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  font-family: $quattro;
  margin: 0px auto;
  .center_container {
    max-width: 100%;
    // border: 1px green solid;
    .header {
      overflow: hidden;
      position: fixed;
      top: 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 71px;
      background-color: white;
      width: 1200px;
      border-bottom: 1px solid #3b363d;
      z-index: 100;
      @include phone {
        height: 70px;
      }
      a {
        color: black;
        text-decoration: none;
      }
      .header_nav {
        width: 25%;
        margin-left: 2.4%;
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
        @include tab {
          font-size: 1.1rem;
          margin-left: 5%;
        }
        @include smalltab {
          font-size: 1rem;
          margin-left: 5%;
          width: 40%;
          margin-right: 2%;
        }
        @include phone {
          font-size: 0.8rem;
          justify-content: flex-start;
        }
        .header_nav_button {
          height: 26px;
          display: flex;
          align-items: center;
          margin-top: 4px;
          @include smalltab {
            margin-right: 5%;
          }
          @include phone {
            margin-right: 2%;
            margin-left: 5%;
            margin-bottom: 4px;
          }
        }
        .header_nav_button:hover {
          cursor: pointer;
          animation-name: highlight_nav;
          animation-duration: 400ms;
          animation-fill-mode: forwards;
        }
      }
      .header_links {
        margin-right: 2.4%;
        width: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2px;
        @include small {
          margin-right: 17%;
        }
        @include smaller {
          margin-right: 27%;
        }
        @include tab {
          margin-right: 53%;
          width: 12%;
        }
        @include smalltab {
          margin-right: 80%;
          margin-top: 4px;
        }
        @include phone {
          margin-right: 75%;
          margin-top: 2px;
          
        }
        .github {
          @include smalltab {
            transform: scale(0.8);
          }
          @include phone {
            transform: scale(0.6);
          }
        }
        .linkedin {
          @include smalltab {
            transform: scale(0.8);
          }
          @include phone {
            transform: scale(0.6);
          }
        }
        .github:hover {
          cursor: pointer;
          animation-name: highlight_link;
          animation-duration: 250ms;
          animation-fill-mode: forwards;
        }
        .linkedin:hover {
          cursor: pointer;
          animation-name: highlight_link;
          animation-duration: 250ms;
          animation-fill-mode: forwards;
        }
      }
    }
    .title {
      @include smalltab {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      @include phone {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .abstract {
        margin-top: 71px;
        max-width: 100%;
        height: auto;
        @include phone {
          margin-top: 56px;
          height: 70px;
        }
      }
      .name {
        margin-left: 51%;
        margin-top: 23vh;
        margin-bottom: 23vh;
        @include tab {
        }
        @include smalltab {
          transform: scale(.8);
        }
        @include phone {
          transform: scale(.7);
        }
      }
      .grafitti {
        max-width: 100%;
        height: auto;
      }
    }
    .apps {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 170px;
      margin-bottom: 220px;
      @include small {
        margin-right: 1%;
      }
      @include smaller {
        margin-right: 1%;
        margin-bottom: 70px;
        margin-top: 70px;
      }
      @include tab {
        margin-right: 1%;
        align-items: center;
        margin-bottom: 70px;
        margin-top: 70px;
      }
      @include smalltab {
        margin-right: 1%;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 0px;
      }
      @include phone {
        margin-right: 1%;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 0px;
      }
      .apps_top {
        width: 48%;
        margin-top: 130px;
        margin-bottom: 8px;
        display: flex;
        margin-right: 0%;
        justify-content: space-between;
        border-bottom: black 1px solid;
        @include smaller {
          width: 49.5%;
        }
        .apps_title {
          font-family: $sed;
          font-size: 1.2rem;
          letter-spacing: 1px;
          @include phone {
            margin-top: 25px;
          }
        }
        .apps_playstore {
          font-family: $source;
          font-size: 1.37rem;
          text-decoration: line-through;
        }
      }
      .apps_main {
        width: 60.5%;
        margin-top: 60px;
        margin-bottom: 153px;
        height: 270px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: $source;
        @include smaller {
          flex-direction: column;
          height: 660px;
        }
        @include tab {
          flex-direction: column;
          height: 660px;
          width: 80%;
        }
        @include smalltab {
          flex-direction: column;
          height: 660px;
          width: 87%;
        }
        @include phone {
          flex-direction: column;
          height: 660px;
          width: 95%;
        }
        .apps_main_one {
          display: flex;
          width: 100%;
          @include smaller {
            flex-direction: column;
            height: 1800px;
          }
          @include tab {
            flex-direction: column;
            height: 1800px;
          }
          @include smalltab {
            flex-direction: column;
            height: 1800px;
          }
          @include phone {
            flex-direction: column;
            height: 1800px;
          }
          .vivahands_img:hover {
            animation-name: highlight_link;
            animation-duration: 400ms;
            animation-fill-mode: forwards;
          }
          .vivahands_title_site {
            max-width: 100%;
            display: flex;
            flex-direction: column;
            margin-left: 6.2%;
            letter-spacing: 0.6px;
            font-size: 1.24rem;
            margin-top: 2px;
            .vivahands_title {
              font-weight: bold;
              margin-right: 3%;
              a {
                text-decoration: none;
                color: black;
              }
              @include smaller {
                margin-left: -2.7%;
                height: 20px;
              }
              @include tab {
                margin-left: -2.7%;
                height: 20px;
              }
              @include smalltab {
                margin-left: -2.7%;
                height: 20px;
              }
              @include phone {
                margin-left: -2.7%;
                height: 20px;
              }
            }
            .vivahands_site {
              margin-top: 10px;
              margin-left: 11.5%;
              letter-spacing: 0.8px;
              width: 100%;
              visibility: hidden;
              @include smaller {
                margin-left: -2.7%;
                margin-top: 0px;
              }
              @include tab {
                margin-left: -2.7%;
                margin-top: 0px;
              }
              @include smalltab {
                margin-left: -2.7%;
                margin-top: 0px;
              }
              @include phone {
                margin-left: -2.7%;
                margin-top: 0px;
              }
            }
          }
          .vivahands_info {
            width: 50%;
            margin-left: 9.4%;
            height: 125px;
            font-size: 1.3rem;
            text-align: left;
            line-height: 29px;
            @include smaller {
              width: 70%;
              margin-top: 20px;
              margin-left: 17%;
              text-align: center;
            }
            @include tab {
              width: 100%;
              margin-top: 20px;
              margin-left: 0%;
              text-align: center;
            }
            @include smalltab {
              width: 100%;
              margin-top: 20px;
              margin-left: 0%;
              text-align: center;
              font-size: 1rem;
            }
            @include phone {
              width: 100%;
              margin-top: 20px;
              margin-left: 0%;
              text-align: center;
              font-size: 1rem;
            }
          }
        }
        .apps_main_two {
          margin-top: 340px;
          display: flex;
          width: 100%;
          height: 200px;
          @include small {
            margin-bottom: 1000px;
            margin-top: 300px;
          }
          @include smaller {
            margin-bottom: 200px;
            flex-direction: column;
            height: 1900px;
          }
          @include tab{
            margin-top: 0px;
            margin-bottom: 0px;
            flex-direction: column;
            height: 1900px;
          }
          @include smalltab{
            flex-direction: column;
            height: 1900px;
          }
          @include phone{
            flex-direction: column;
            height: 1900px;
          }
          .logsnow_img {
            margin-top: 87px;
          }
          .logsnow_img:hover {
            animation-name: highlight_link;
            animation-duration: 400ms;
            animation-fill-mode: forwards;
          }
          .logsnow_title_site {
            max-width: 100%;
            display: flex;
            flex-direction: column;
            margin-left: 6.2%;
            letter-spacing: 0.6px;
            font-size: 1.24rem;
            margin-top: 2px;
            .logsnow_title {
              font-weight: bold;
              margin-right: 3%;
              margin-top: 88px;
              a {
                text-decoration: none;
                color: black;
              }
              @include smaller{
                margin: 0 7% 0 0;
              }
              @include tab{
                margin: 0 7% 0 0;
              }
              @include smalltab{
                margin: 0 7% 0 0;
              }
              @include phone{
                margin: 0 7% 0 0;
              }
            }
            .logsnow_site {
              margin-top: 10px;
              margin-left: 11.5%;
              letter-spacing: 0.8px;
              visibility: hidden;
              @include smaller{
                margin: 0 7% 0 0;
              }
              @include tab{
                margin: 0 7% 0 0;
              }
              @include smalltab{
                margin: 0 7% 0 0;
              }
              @include phone{
                margin: 0 7% 0 0;
              }
            }
          }
          .logsnow_info {
            width: 50%;
            height: 125px;
            font-size: 1.2rem;
            text-align: left;
            line-height: 29px;
            margin-top: 85px;
            @include smaller{
              margin: 80px 0px 0px 27%;
              width: 70%;
              margin-top: 20px;
              margin-left: 17%;
              text-align: center;
            }
            @include tab{
              margin: 20px 0px 0px 0%;
              width: 100%;
              text-align: center;
            }
            @include smalltab{
              margin: 20px 0px 0px 0%;
              width: 100%;
              text-align: center;
              font-size: 1rem;
            }
            @include phone{
              margin: 20px 0px 0px 0%;
              width: 100%;
              text-align: center;
              font-size: 1rem;
            }
          }
        }
      }
    }
    .tech_img {
      max-width: 100%;
      height: auto;
      margin-top: 200px;
    }
    .skills {
      display: flex;
      justify-content: flex-end;
      font-family: $source;
      margin-top: 330px;
      margin-bottom: 250px;
      @include smaller {
        margin-top: 200px;
        margin-bottom: 140px;
      }
      @include tab {
        margin-top: 120px;
        margin-bottom: 90px;
      }
      @include smalltab {
        margin-top: 120px;
        margin-bottom: 60px;
      }
      @include phone {
        margin-top: 120px;
        margin-bottom: 60px;
      }
      .skills_right {
        width: 66%;
        .skills_header_1 {
          margin-top: 25px;
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid black;
          @include smalltab {
            flex-direction: column;
            align-items: flex-start;
          }
          @include phone {
          flex-direction: column;
          align-items: flex-start;
          }
          .skills_title {
            font-family: $sed;
            font-size: 1.2rem;
            margin-top: 2px;
            letter-spacing: 1px;

          }
          .skills_language {
            margin-right: 32%;
            font-size: 1.2rem;
            margin-top: -5px;
            margin-left: 8%;
            @include smalltab {
              margin-left: 0px;
              font-size: 1rem;
            }
            @include phone {
              margin-left: 0px;
              font-size: 1rem;
            }
          }
        }
        .skills_language_items {
          display: flex;
          text-align: left;
          margin-top: 40px;
          font-size: 1.3rem;
          line-height: 30px;
          @include tab {
            font-size: 1.1rem;
          }
          @include smalltab {
            font-size: 1rem;
          }
          @include phone {
            font-size: 1rem;
          }

        }
        .skills_header_2 {
          margin-top: 30px;
          display: flex;
          justify-content: center;
          font-size: 1.2rem;
          margin-bottom: 36px;
          border-bottom: 1px solid black;
          padding-bottom: 4px;
          @include smalltab {
            justify-content: flex-start;
          }
          @include phone {
            justify-content: flex-start;
          }
        }
        .skills_approach_items {
          display: flex;
          text-align: left;
          margin-top: 40px;
          font-size: 1.2rem;
          line-height: 30px;
          @include tab {
            font-size: 1.1rem;
          }
          @include smalltab {
            font-size: 1rem;
          }
          @include phone {
            font-size: 1rem;
          }
        }
        .skills_header_3 {
          margin-top: 49px;
          font-size: 1.2rem;
          margin-bottom: 30px;
          border-bottom: 1px solid black;
          padding-bottom: 4px;
          @include smalltab {
            display: flex;
            justify-content: flex-start;
          }
          @include phone {
            display: flex;
            justify-content: flex-start;
          }
        }
        .skills_version_items {
          display: flex;
          text-align: left;
          margin-top: 40px;
          font-size: 1.2rem;
          line-height: 30px;
          margin-bottom: 98px;
          @include tab {
            font-size: 1.1rem;
          }
          @include smalltab {
            font-size: 1rem;
          }
          @include phone {
            font-size: 1rem;
          }
        }
      }
    }
    .coffee_img {
      max-width: 100%;
      height: auto;

    }
    .thankyou {
      display: flex;
      margin-top: 60px;
      margin-left: 7%;

    }
    .fineprint {
      margin-top: 200px;
      opacity: 0.5;

    }
    .contact_form {
      margin-top: 240px;
      display: flex;
      justify-content: center;
      height: 625px;
      max-width: 100%;
      @include smaller {
        margin-top: 200px;
      }
      @include tab {
        margin-top: 120px;
      }
      @include smalltab {
        margin-top: 80px;
      }
      @include phone {
        margin-top: 60px;
      }
      .contact_form_center {
        max-width: 87%;
        width: 75%;

        @include smalltab{
          width: 80%;
        }
        @include phone{
          width: 90%;
        }
        .contact_form_header {
          display: flex;
          justify-content: space-between;
          margin-top: 35px;
          margin-bottom: 11px;
          border-bottom: 1px solid black;
          padding-bottom: 4px;
          .contact_form_header_title {
            font-family: $sed;
            font-size: 1.3rem;
          }
          .contact_form_header_via {
            font-family: $source;
            font-size: 1.2rem;
          }
          .contact_form_header_email {
            font-family: $source;
            font-size: 1.2rem;
            font-style: italic;
          }
        }
        .form {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          height: 532px;
          justify-content: space-between;
          font-family: $source;
          label {
            min-width: 100%;
          }

          .form_name {
            margin-top: 32px;
            display: flex;
            font-size: 1.2rem;
          }
          .input_name {
            margin-top: 10px;
            width: 100%;
            padding: 12px 0px;
            margin: 8px 0;
            box-sizing: border-box;
            border: none;
            background-color: #f7f7f7;
            color: teal;
          }
          .form_email {
            margin-top: 32px;
            display: flex;
            font-size: 1.2rem;
          }
          .input_email {
            margin-top: 10px;
            width: 100%;
            padding: 12px 0px;
            margin: 8px 0;
            box-sizing: border-box;
            border: none;
            background-color: #e0e0e0;
            color: teal;
          }
          .form_message {
            margin-top: 32px;
            display: flex;
            font-size: 1.2rem;
          }
          .input_message {
            margin-top: 10px;
            width: 100%;
            height: 150px;
            padding: 12px 0px;
            box-sizing: border-box;
            resize: none;
            background-color: #bdbdbd;
            color: teal;
            font-family: $source;
          }

          .button_message {
            display: flex;
            min-width: 100%;
            margin-top: 20px;
            .button {
              display: inline-block;
              background-color: rgb(88, 185, 88);
              border: none;
              color: #ffffff;
              text-align: center;
              font-size: 28px;
              padding: 20px;
              width: 200px;
              transition: all 0.5s;
              cursor: pointer;
              outline: none;
              font-family: $source;
            }

            .button span {
              cursor: pointer;
              display: inline-block;
              position: relative;
              transition: 0.5s;
            }

            .button span:after {
              content: "\00bb";
              position: absolute;
              opacity: 0;
              top: 0;
              right: -20px;
              transition: 0.5s;
            }

            .button:hover span {
              padding-right: 25px;
            }

            .button:hover span:after {
              opacity: 1;
              right: 0;
            }
            .messagebox {
              margin-top: 6px;
              margin-left: 5%;
              font-family: $quattro;
              font-size: 1.2rem;
            }
          }

          /* need to work on fixing up the parent-child structure in the form */
        }
      }
    }
  }
}
